@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    background: #1E1E1E;
    color: azure;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.countdown-box {
    background: url('./assets/img/background.png');
    max-width: 60em;
    min-height: 12em;
    border-radius: 6px;
    margin: 3em auto 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.sale-img {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.sale-img img {
    width: 10em;
    margin-left: 1em;
}

.sale-data {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
}

.sale-data h3 {
    font-size: 2.3em;
    text-align: left;
}

.sale-data h3 span {
    font-weight: bold;
}

.sale-data h3 sup {
    font-size: .6em;
}

.codes {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.codes h5 {
    margin: 0;
    text-align: center;
    margin-top: 1em;
}

p.code-off {
    border: 2px solid #EFEFEF;
    padding: .5em 1.5em;
    border-radius: 3em;
    font-weight: bold;
}

.icon i {
    font-size: 3em;
    color: #ff00ff;
}

.timer-icon {
    margin-right: .7em;
}

.count-script-box {
    width: 18em;
    margin-top: -2em;
}

p#demo {
    text-align: center;
    font-size: 1.5em;
    color: #1E1E1E;
    background: #EFEFEF;
    padding: .3em;
    border-radius: 4px;
  }

  p.legal {
      font-size: .6em;
      color: #EFEFEF;
      text-align: center;
  }

  /* Imagen de referencia - banners completos */


  .referencia {
      max-width: 60em;
      margin: 4em auto;
  }

  .referencia img {
      display: flex;
      width: 100%;
  }

  @media screen and (max-width: 318px) {
    .count-script-box {
        width: 15em;
    }   
  }

  /* @media screen and (max-width: 615px) {
      
  } */