@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: #1E1E1E;
    color: azure;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

h4.etiqueta {
    background: #f5f11f;
    color: #1E1E1E;
    font-size: 1.3em;
    padding: .3em 3em;
    text-align: center;
    max-width: 12em;
    margin: 2em auto;
}

.go-down {
    margin-top: 6em;
}

/* countdown fixed arriba de todo el sitio */

.countdown-apart {
    width: 100%;
    background: #53378B;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/img/background.png');
    background-size: cover;
    position: fixed;
    top: 0;
}

.timer-icon {
    margin-right: .7em;
}

.count-script-box {
    width: 12em;
    margin-left: 1em;
}

p#demo {
    text-align: center;
    font-size: .9em;
    font-weight: 700;
    color: #EFEFEF;
    background: #E05B35;    
    padding: .3em;
    border-radius: 4px;
}

.countdown-apart img {
    max-width: 4em;
    margin-left: 1em;
}

/* end countdown top */

.countdown-box {
    /* posicionamos las img de fondo y wave */
    background-image: url('./assets/img/wave.png'), url('./assets/img/background.png');
    background-size: 42em, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left top;   
    /* fin imágenes */
    max-width: 60em;
    border-radius: 6px;
    margin: 3em auto 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.box-vps {
    background-image: url('./assets/img/wave-vps.png'), url('./assets/img/background.png');
    background-size: 50em, cover;
    background-position: bottom left, left top; 
}

.sale-img {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.sale-img img {
    width: 11.2em;
    margin-left: 1.5em;
}

.sale-data {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
}

.sale-data h3 {
    font-size: 2.3em;
    text-align: left;
    margin-left: 1.8em;
    line-height: 1.1;
    font-weight: 400;
}

.sale-data h3 span {
    font-weight: 700;
}

.codes {
    margin: 0 auto;
    margin-right: 2.1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.codes h5 {
    margin: 2em 0 -1.4em 0;
    text-align: center;
    font-weight: 400;
}

p.code-off {
    border: 2px solid #EFEFEF;
    padding: .15em .8em;
    border-radius: 3em;
    font-weight: 700;
    font-size: 1.5em;
}

p.recurrency {
    font-size: .6em;
    text-align: center;
    margin: -3.4em 0 0 4.5em;
    position: absolute;
    padding: 0 .2em;
    width: 9em;
    border-radius: 2em;
}

.anual {
    background: #3D2A70;
}

.mensual {
    background: #53378B;
}

/* solo en caja doble en banner VPS */

.code-box {
    margin: .2em 0 -2em 0;
}


/* Anuncio legal dentro de banner */

  .legal-wrap {
      margin: -1.2em 0 -.2em 3em;
  }

  .legal-wrap p {
      font-size: .7em;
  }

  .legal-vps {
      max-width: 38em;
  }

  .legal-vps p {
      font-size: .6em;
  }

/* Ajustes banner host sale responsive */

@media screen and (max-width: 880px) {
    .countdown-box {
        max-width: 40em;
    }

    .sale-img {
        margin: 1em auto 0 auto;
    }

    .sale-data {
        padding: 0;
    }

    .codes {
        margin-right: 14em;
        margin-top: -2em;
    }

    .anual, .mensual {
        background: #48287A;
    }
      
  }

  @media screen and (max-width: 610px) {
    .countdown-box {
        max-width: 25em;
    }

    .sale-img {
        max-width: 9em;
    }

    .sale-data h3 {
        font-size: 1.6em;
        margin-left: 1.2em;
    }

    .codes {
        margin-right: 6.5em;
        margin-top: -2.5em;
    }
      
  }

  @media screen and (max-width: 380px) {
    
    .codes {
        margin: 0 auto;
        margin-top: -2em;
    }

    .legal-wrap {
        text-align: center;
        margin: 0 auto;
    }
      
  }

/* Imagen de referencia - banners completos */

  .referencia {
      max-width: 60em;
      margin: 0 auto;
  }

  .referencia img {
      display: flex;
      width: 100%;
  }

  @media screen and (max-width: 318px) {
    .count-script-box {
        width: 15em;
    }   
  }